<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AppleId</key>
		<string>app4640@163.com</string>
		<key>DownloadList</key>
		<array>
			<string>https://itunes.apple.com/cn/app/bu-ding-le/id486023956?mt=8_3.0.3</string>
			<string>https://itunes.apple.com/cn/app/tuo-ma-si-pin-tu/id568300264?mt=8_1.5</string>
		</array>
		<key>Password</key>
		<string>Tongyimima123</string>
	</dict>
	<dict>
		<key>AppleId</key>
		<string>magiclinda983@yahoo.com</string>
		<key>DownloadList</key>
		<array>
			<string>https://itunes.apple.com/cn/app/shui-guo-lian-lian-kan2/id412376658?mt=8_3.88</string>
			<string>https://itunes.apple.com/cn/app/tian-tian21dian/id577698657?mt=8_1.0.2</string>
			<string>https://itunes.apple.com/cn/app/all-connect-lite/id546990390?mt=8_1.0</string>
			<string>https://itunes.apple.com/cn/app/yang-guan-lin-da-shi/id417220021?mt=8_7.0</string>
			<string>https://itunes.apple.com/cn/app/crazy-face-lite/id364016483?mt=8_1.0</string>
		</array>
		<key>Password</key>
		<string>Er345678</string>
	</dict>
	<dict>
		<key>AppleId</key>
		<string>danielsifu@163.com</string>
		<key>DownloadList</key>
		<array>
			<string>https://itunes.apple.com/cn/app/dong-wu-lian-lian-kan/id426703508?mt=8_1.1</string>
			<string>https://itunes.apple.com/cn/app/dui-dui-peng-shui-guo-ban/id416087384?mt=8_1.6</string>
			<string>https://itunes.apple.com/cn/app/sky-heroes-hd-free/id460029726?mt=8_1.2</string>
			<string>https://itunes.apple.com/cn/app/tune-rider/id460687896?mt=8_1.1</string>
			<string>https://itunes.apple.com/cn/app/tiki-kart-3d/id492034176?mt=8_2.1</string>
			<string>https://itunes.apple.com/cn/app/si-fang-xiao-fang-kuai/id566276572?mt=8_1.0.0</string>
			<string>https://itunes.apple.com/cn/app/amazing-jumping-frog-hd/id549053777?mt=8_1.0</string>
			<string>https://itunes.apple.com/cn/app/boxstarplushdlite/id558502137?mt=8_1</string>
		</array>
		<key>Password</key>
		<string>Er345678</string>
	</dict>
	<dict>
		<key>AppleId</key>
		<string>zhonghua0917@163.com</string>
		<key>DownloadList</key>
		<array>
			<string>https://itunes.apple.com/cn/app/idancing-lite-hd/id461260270?mt=8_1.7</string>
			<string>https://itunes.apple.com/cn/app/bubble-crusher-hd/id463722005?mt=8_2.1</string>
			<string>https://itunes.apple.com/cn/app/lam-giau-hd/id435077986?mt=8_1.0</string>
			<string>https://itunes.apple.com/cn/app/21dian-blackjack/id471830240?mt=8_2.3.0</string>
			<string>https://itunes.apple.com/cn/app/animal-resq-free/id395157731?mt=8_2.1</string>
		</array>
		<key>Password</key>
		<string>CEO100zhonghua</string>
	</dict>
	<dict>
		<key>AppleId</key>
		<string>1583170056@qq.com</string>
		<key>DownloadList</key>
		<array>
			<string>https://itunes.apple.com/cn/app/hei-an-ling-yu/id487067872?mt=8_2.6.2</string>
		</array>
		<key>Password</key>
		<string>1583170056Xwj</string>
	</dict>
	<dict>
		<key>AppleId</key>
		<string>541007030@qq.com</string>
		<key>DownloadList</key>
		<array>
			<string>https://itunes.apple.com/cn/app/cliffed-norms-world-xl/id352862337?mt=8_2.2.0</string>
			<string>https://itunes.apple.com/cn/app/jigsaw-party/id454683924?mt=8_1.42</string>
		</array>
		<key>Password</key>
		<string>Wu41007030</string>
	</dict>
	<dict>
		<key>AppleId</key>
		<string>app4645@163.com</string>
		<key>DownloadList</key>
		<array>
			<string>https://itunes.apple.com/cn/app/shui-guo-lian-lian-kan/id406419765?mt=8_5.88</string>
			<string>https://itunes.apple.com/cn/app/ninja-usa-free/id462726758?mt=8_1.3.1</string>
			<string>https://itunes.apple.com/cn/app/chinese-chess-master-hd-free/id448258246?mt=8_1.1</string>
			<string>https://itunes.apple.com/cn/app/animal-feeding-fun!/id543126724?mt=8_1.1</string>
			<string>https://itunes.apple.com/cn/app/istreet-basket-hd-lite/id431940295?mt=8_1.1</string>
		</array>
		<key>Password</key>
		<string>Tongyimima123</string>
	</dict>
	<dict>
		<key>AppleId</key>
		<string>2455397729@qq.com</string>
		<key>DownloadList</key>
		<array>
			<string>https://itunes.apple.com/cn/app/tian-tian-zha-jin-hua/id575464121?mt=8_1.0.2</string>
			<string>https://itunes.apple.com/cn/app/spider-deluxe/id589052897?mt=8_1.2</string>
		</array>
		<key>Password</key>
		<string>Yigeren2013</string>
	</dict>
</array>
</plist>
