{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{% load adminmedia %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/login.css" />
{% endblock %}



{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
     <label for="id_username" class="required">{% trans 'Username:' %}</label><input type="text" name="username" id="id_username" maxlength="30" placeHolder="{% trans 'Username' %}"> {#{ form.username }#}   
  </div>
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
    <label for="id_password" class="required">{% trans 'Password:' %}</label><input id="id_password" type="password" name="password" placeHolder="{% trans 'Password' %}" > {#{ form.password }#}
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.verify_code.errors }}{% endif %}

<label for="id_verify_code" class="required">{% trans 'Verify Code:' %}</label><input type="text" name="verify_code" id="id_verify_code" maxlength="30" placeHolder="{% trans 'Verify Code' %}">
<button  name="button" onclick="get_code()" value="verify_code" id="id_verify_code" style="width: 7em;padding-top:5px;background: transparent;">获取验证码</button>
{#     <img id="verify_code_img" src="/verify_code" />#}

  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit"  value="{% trans 'Log in' %}"/>
  </div>
</form>

{#<script type="text/javascript">#}
{#    document.getElementById('id_username').focus()#}
{##}
{#    // verify code image click action#}
{#    document.getElementById('verify_code_img').onclick = function() {#}
{#        document.getElementById('verify_code_img').src = '/verify_code';#}
{#    };#}
{#</script>#}


</div>


{% block js %}

    <script type="text/javascript" src="../../../static/admin_tools/js/jquery.js"></script>
    <script>
    function get_code(){
        usernameStr = $('#id_username').val();
        codeStr = $('#id_verify_code').val();
        urlStr = window.location.href;
        $.ajax({
            type:'POST',
            url:'/app/smstest',
            dataType: 'json',
            data: {username:usernameStr,code:codeStr},
            enctype: 'multipart/form-data',
            success: function(json_data){
                var status = json_data.status;
                var message = json_data.message;

                if (status == 200) {

                       var submitBtn = document.getElementById("id_verify_code");
                     $("#login-form").submit(function(e){
                        return false;
                    });
                    console.info('ok');

                    }
                if (status == 400) {

                    alert('400');
{#                    var submitBtn = document.getElementById("id_verify_code");#}
{#                     $("#login-form").submit(function(e){#}
{#                        return false;#}
{#                    });#}



                    };

          },
            error: function(){
                alert("服务器被歪星人带走啦...");
          }
        });
    };
    </script>


{% endblock %}
{% endblock %}

