<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天翼报表数据导出</title>
<style>
h1{font-size:16px;padding:5px 0;margin-bottom:8px;}
.highlight{color:red;}
</style>
</head>
<body>
<h1>首页推荐</h1>
<a target="_blank"  class="highlight" href="/analysis/file_analysis?list_type=recommend&date={{ from_date }}">全部</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=recommend&list_detail=app&date={{ from_date }}">应用</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=recommend&list_detail=game&date={{ from_date }}">游戏</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=recommend&list_detail=media&date={{ from_date }}">影音</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=recommend&list_detail=reading&date={{ from_date }}">阅读</a>

<h1>飙升最快</h1>
<a target="_blank"  class="highlight" href="/analysis/file_analysis?list_type=latest&date={{ from_date }}">全部</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=latest&list_detail=app&date={{ from_date }}">应用</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=latest&list_detail=game&date={{ from_date }}">游戏</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=latest&list_detail=media&date={{ from_date }}">影音</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=latest&list_detail=reading&date={{ from_date }}">阅读</a>

<h1>排行榜</h1>
<a target="_blank"  href="/analysis/file_analysis?list_type=rank&list_detail=app&date={{ from_date }}">应用</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=rank&list_detail=game&date={{ from_date }}">游戏</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=rank&list_detail=media&date={{ from_date }}">影音</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=rank&list_detail=reading&date={{ from_date }}">阅读</a>

<h1>装机必备</h1>
<a target="_blank"  class="highlight" href="/analysis/file_analysis?list_type=necessary&date={{ from_date }}">全部</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=necessary&list_detail=app&date={{ from_date }}">应用</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=necessary&list_detail=game&date={{ from_date }}">游戏</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=necessary&list_detail=media&date={{ from_date }}">影音</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=necessary&list_detail=reading&date={{ from_date }}">阅读</a>

<h1>首页最热</h1>
<a target="_blank"  class="highlight" href="/analysis/file_analysis?list_type=hottest&date={{ from_date }}">全部</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=hottest&list_detail=app&date={{ from_date }}">应用</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=hottest&list_detail=game&date={{ from_date }}">游戏</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=hottest&list_detail=media&date={{ from_date }}">影音</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=hottest&list_detail=reading&date={{ from_date }}">阅读</a>

<h1>首页首发</h1>
<a target="_blank"  class="highlight" href="/analysis/file_analysis?list_type=homenew&date={{ from_date }}">全部</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=homenew&list_detail=app&date={{ from_date }}">应用</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=homenew&list_detail=game&date={{ from_date }}">游戏</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=homenew&list_detail=media&date={{ from_date }}">影音</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=homenew&list_detail=reading&date={{ from_date }}">阅读</a>

<h1>搜索相关</h1>
<a target="_blank"  class="highlight" href="/analysis/file_analysis?list_type=search&list_detail=search_click&action=click&date={{ from_date }}">搜索点击</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=search&list_detail=search_keyword_click&action=click&date={{ from_date }}">搜索热词点击</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=search&list_detail=search_download&date={{ from_date }}">搜索直接下载</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=search&list_detail=detail_app_download&date={{ from_date }}">应用搜索</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=search&list_detail=detail_game_download&date={{ from_date }}">游戏搜索</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=search&list_detail=detail_media_download&date={{ from_date }}">媒体搜索</a>
<a target="_blank"  href="/analysis/file_analysis?list_type=search&list_detail=detail_reading_download&date={{ from_date }}">阅读搜索</a>
</body>
</html>
