<html>
<body>
    <table cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid grey;">
        <tr>
        	<td width="10%" style="border: 1px solid grey; fond-weight: bold; padding-left: 4px;">Report Name</td>
            <td width="90%" style="border: 1px solid grey; padding-left: 4px;">{{ report_name }}</td>
        </tr>
        <tr>
        	<td width="10%" style="border: 1px solid grey; fond-weight: bold; padding-left: 4px;">Server IP</td>
            <td width="90%" style="border: 1px solid grey; padding-left: 4px;">{{ server_ip }}</td>
        </tr>
        <tr>
        	<td width="10%" style="border: 1px solid grey; fond-weight: bold; padding-left: 4px;">Server Host</td>
            <td width="90%" style="border: 1px solid grey; padding-left: 4px;">{{ host_name }}</td>
        </tr>
        <tr>
        	<td width="10%" style="border: 1px solid grey; fond-weight: bold; padding-left: 4px;">Report Time</td>
            <td width="90%" style="border: 1px solid grey; padding-left: 4px;">{{ report_time }}</td>
        </tr>
        <tr>
        	<td style="border: 1px solid grey; fond-weight: bold; padding-left: 4px;">Report Message</td>
        	<td style="border: 1px solid grey;">
                <table cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid grey; padding: 4px;">
		     <tbody>
                        {% for item in report_list %}
                        <tr>
                            <td style="border: 1px solid grey; padding-left: 4px; width:200px"><b>{{ item.kind }}</b></td>
                            <td style="border: 1px solid grey; padding-left: 4px;">{{ item.msg }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
    			</table>
            </td>
        </tr>
    </table>
</body>
</html>
